<!DOCTYPE html>
<html lang="en">
{{>header}}

<!-- Home page, which corresponds to the name of home.html, and is the anonymous view, 
    where you can only consult the information about the page and the sessions, since it is necessary to login to buy tickets -->

<body id="page-top">
  <!--Here we find the upper navigation bar that allows us to move through all the details of the page-->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="#page-top">
        <h1>JDK</h1>
      </a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ms-auto py-6 py-lg-0">
          <li class="nav-item"><a class="nav-link" href="login.html">INICIA SESION</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <section class="page-section" id="evCreate">
    <h1 class="text-uppercase text-center">CREAR EVENTO</h1>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <form method="POST" action="/events/add">
            <div class="form-group">
              <label for="name"></label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Nombre*" required>
              <br>
            </div>
            <div class="form-group">
              <label for="description"></label>
              <textarea id="description" class="form-control" name="description" placeholder="Descripción*"
                required></textarea>
              <br>
            </div>
            <div class="form-group">
              <label for="date"></label>
              <input type="date" class="form-control" id="date" placeholder="Fecha*" name="date" required>
              <br>
            </div>
            <div class="form-group">
              <label for="room"></label>
              <input type="text" class="form-control" id="room" placeholder="Sala*" name="room" required>
              <br>
            </div>
            <label></label>
            <button type="submit" class="btn btn-primary">CREAR EVENTO</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  {{>footer}}
</body>

</html>