<!DOCTYPE html>
<html lang="en">

{{>header}}

<body>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="../admin">
        <h1>JDK</h1>
      </a>
    </div>
  </nav>
  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <div class="text-uppercase">
            <h1>CREAR EVENTO</h1>
          </div>
          <form method="POST" action="/events/add">
            <div class="form-group">
              <label for="name"></label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Nombre del evento*" required>
              <br>
            </div>
            <div class="form-group">
              <label for="description"></label>
              <div id="description" class="form-control" contenteditable="true" placeholder="Descripción del evento*"></div>
              <div class="text-toolbar">
                <button class="btn btn-secondary" type="button" onclick="document.execCommand('bold', false, null);"><i class="fas fa-bold"></i></button>
                <button class="btn btn-secondary" type="button" onclick="document.execCommand('italic', false, null);"><i class="fas fa-italic"></i></button>
                <button class="btn btn-secondary" type="button" onclick="document.execCommand('underline', false, null);"><i class="fas fa-underline"></i></button>
                <button class="btn btn-secondary" type="button" onclick="document.execCommand('foreColor', false, 'red');"><i class="fas fa-font" style="color:red;"></i></button>
              </div>
              <textarea id="description-input" class="form-control" name="description" style="display: none;"></textarea>
              <br>
            </div>
            <div class="form-group">
              <label for="date"></label>
              <input type="date" class="form-control" id="date" name="date" placeholder="Fecha del evento*" required>
              <br>
            </div>
            <div class="form-group">
              <label for="room"></label>
              <input type="text" class="form-control" id="room" name="room" placeholder="Sala para el evento*" required>
              <br>
            </div>
            <label></label>
            <button class="btn btn-primary" type="submit" onclick="formatDescription();">CREAR EVENTO</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  {{>footer}}

  <script>
    function formatDescription() {
      const descriptionInput = document.querySelector('#description-input');
      const descriptionDiv = document.querySelector('#description');
      const descriptionText = descriptionDiv.innerHTML;
      descriptionInput.value = descriptionText;
    }
  </script>

  <script src="js/Enriquecido.js"></script>

</body>

</html>
