<!-- Footer view that shows the information at the bottom of the page, since it is repeated and is more optimal, with the use of Mustache -->
<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">Copyright &copy; JDK 2023</div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i
                        class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Instagram"><i
                        class="fab fa-instagram"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i
                        class="fab fa-facebook-f"></i></a>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3" href="privacidad.pdf" target="_blank">Política
                    de Privacidad</a>
                <a class="link-dark text-decoration-none" href="terminos.pdf" target="_blank">Términos de
                    Uso</a>
            </div>
        </div>
    </div>
</footer>