<!DOCTYPE html>
{{>header}}

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/admin">
                <h1>JDK</h1>
            </a>
        </div>
    </nav>
    <section class="page-section">
        <div class="container">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="container">
                        </div class="row text-align = left;">
                        <form action="/editEvent">
                            <div class="form-group">
                                <label for="event" class="text-align = left;">Evento a editar</label>
                                <select class="form-control" name="event" id="event" placeholder="Evento*"
                                    data-sb-validations="required">
                                    {{#sessions}}
                                    <option>{{ name }}</option>
                                    {{/sessions}}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary" name="submit">SELECCIONAR</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>
    {{>footer}}
</body>

</html>