<!DOCTYPE html>
{{>header}}

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="home.html">
                <h1>JDK</h1>
            </a>
        </div>
    </nav>
    <section class="page-section">
        <div class="container">
            <div class="row">
                <form action="/tickets">
                    <div class="form-group">
                        <label for="event"></label>
                        <select class="form-control" name="event" id="event" placeholder="Evento*"
                            data-sb-validations="required">
                            <option selected>Todos</option>
                            {{#sessions}}
                            <option>{{ name }}</option>
                            {{/sessions}}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary" name="submit">FILTRAR</button>
                </form>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Evento</th>
                                    <th>Tipo de entrada</th>
                                    <th>Cantidad</th>
                                </tr>
                            </thead>
                            {{#tickets}}
                            <tr>
                                <a id="{{name}}" class="book item"><i class="book icon"></i>
                                    <td>{{ name }}</td>
                                    <td>{{ event }}</td>
                                    <td>{{ type }}</td>
                                    <td>{{ num }}</td>
                                </a>
                            </tr>
                            {{/tickets}}

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{>footer}}
</body>

</html>